* {
    margin: 0;
  
    font-family: "Poppins", sans-serif;
   
  }
  .hero {
    display: flex;
  
 
   
  }

  



  .multiselect {
    position: absolute !important;
    width: 22vw !important;
    right: 6vw !important;
    bottom: 19vw !important;
    height:8vh;
   
  }

.hero-left-content{
  height:20%;
  position: absolute;
  bottom:16vh;
  right:10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.proceed{
  background:rgba(0, 0, 0, 0.26);
  border:none;
  color:white;
  height:7vh;
  
}

@keyframes slideInFromRight {
  0% {
      clip-path: inset(0 0% 0 0);
  }
  100% {
      clip-path: inset(0 67% 0 0);
  }
}
.slide {
  width: 200px;
  height: 200px;
  background-color: blue; /* Adding a background color for visibility */
  /* clip-path: polygon(0 0, 31% 0, 31% 100%, 0% 100%); */
  animation: 0.7s ease-out 0s 1 slideInFromRight;
  clip-path: inset(0 67% 0 0);

}

  .hero-left {
    position: relative;
    z-index:1000;
    background-image: url("./step 1.png");
    background-repeat: no-repeat;
  
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;


  }
  .hero-left-add {
  
    position: relative;
    z-index:1000;
    background-image: url("./step 1.png");
    background-repeat: no-repeat;
  
    background-size: auto 100%;
    width: 38vw;
    height: 100vh;



  }
  .parent-heading {
    color: #05616d;
    font-size: 1.6rem;
    position: absolute;
    top: 4vh;
  }
  
  .footer {
    width: 60vw;
  
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    position: absolute;
    bottom: 3vh;
  }
  .footer .footer-sub-grp {
    display: flex;
  
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-sub-grp .foot-head {
    font-weight: 500;
  }
  .footer .footer-sub-grp .footer-update {
    font-weight: bold;
  }
  .blur {
    filter: blur(4px);
    -webkit-filter: blur(4px);
  }
  .hide {
    display: none !important;
  }
  .pop {
    display: flex;
  
    flex-direction: column;
    box-shadow: 1px 7px 10px 9px rgba(0, 0, 0, 0.26);
    width: 30vw;
    height: 17vw;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 35vh;
  
    left: 45vw;
    z-index: 100;
    border-radius: 17px;
  }
  .pop-head {
    width: 100%;
    height: 9vh;
  
    background-color: rgba(219, 98, 98, 1);
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    color: white;
  
    font-weight: 600;
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  }
  
  .pop-content {
    height: 21vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    align-items: center;
    justify-content: space-between;
  }
  
  .pop-content .message {
    margin-top: 2vh;
    font-size: 1rem;
    color: rgb(211, 58, 58);
  }
  .pop-content .prompt {
    font-size: 0.8rem;
  }
  .pop-content .pop-btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .pop-content .ok,
  .edit {
    width: 7vw;
    height: 5vh;
    border-radius: 7px;
    border: none;
  }
  .pop-content .ok {
    box-shadow: 1px 7px 10px 9px rgba(0, 0, 0, 0.26);
  
    background-color: #fff;
    color: black;
  }
  .pop-content .edit {
    box-shadow: 1px 7px 10px 9px rgba(0, 0, 0, 0.26);
  
    background-color: black;
    color: white;
  }
  
  .otp {
    display: flex;
  
    flex-direction: column;
    box-shadow: 1px 7px 10px 9px rgba(0, 0, 0, 0.26);
    width: 30vw;
    height: 17vw;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 35vh;
  
    left: 45vw;
    z-index: 100;
    border-radius: 17px;
  }
  
  .otp-head {
    width: 30vw;
    height: 7vh;
    background-color: rgba(61, 129, 132, 1);
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
  
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .otp-content {
    height: 10vh;
    width: 30vw;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 2vh;
  }
  .otp-timer {
    font-size: 1.6rem;
    position: relative;
    top: 3vh;
  }
  .otp-btn-grp {
    position: relative;
    top: 3vh;
    width: 30vw;
    display: flex;
  
    justify-content: space-around;
  }
  .otp-content .otp-input-grp #otp-input {
    width: 4vw;
    height: 8vh;
    border: 1px solid black;
  }
  
  .otp-btn-grp .otp-submit {
    width: 7vw;
    height: 5vh;
    border-radius: 7px;
    border: none;
  }
  .otp-btn-grp .resend {
    width: 7vw;
    height: 5vh;
    border-radius: 7px;
    border: none;
    background-color: rgba(61, 129, 132, 1);
    color: white;
  }
  .parent-container {
    height: 100vh;
  
    width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./back.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-x: 50%;
    background-position-y: 25vh;
  }
  
  .progress-bar {
    width: 72.5vw;
   
    background-color: rgba(7, 98, 109, 1);
    position: absolute;
    top: 0;
    z-index: 1500;
    height: 8vh;
   
  }
  /* .progress-bar:hover {
    width: 72.5vw;
    height: 7vh;
    background-color: rgba(7, 98, 109, 1);
    position: absolute;
    top: 0;
    z-index: 1500;
  } */
  .parent {
    height: 60vh;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;
  }
  
  .fname {
    grid-area: 1 / 1 / 2 / 2;
  }
  .lname {
    grid-area: 1 / 2 / 2 / 3;
  }
  .email {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .dob-select-grp {
    grid-area: 2 / 2 / 10 / 3;
    display: flex;
    justify-content: space-between;
  }
  .dob {
    width: 23vw;
  }
  .count {
    grid-area: 3 / 1 / 4 / 2;
  }
  .phone-grp {
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1.1rem;
  }
  .grp {
    grid-area: 4 / 1 / 5 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .source-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .language {
    grid-area: 4 / 2 / 5 / 3;
  }
  
  .special_remarks {
    grid-area: 5 / 1 / span 1 / span 2;
  }
  .submit {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    grid-area: 6 / 1 / span 1 / span 2;
  }
  
  .select-img {
    height: 7vh;
    position: relative;
    top: -1vw;
  }
  ::placeholder {
    color: #05616d;
    font-size: 1rem;
  }
  .country-flag {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type="text"],
  .submit,
  .country-flag,
  .source-grp,
  select {
    height: 7vh;
    border: none;
    border: 0.7px solid white;
    box-shadow: 1px 7px 10px 2px rgba(0, 0, 0, 0.26);
    outline: none;
    border-radius: 4px;
    font-size: 1rem;
  
    color: #05616d;
    box-sizing: border-box;
    padding-left: 11px;
  }
  .select-grp {
    height: 1vh;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .source-grp {
    display: flex;
  }
  
  .source-grp-1,
  .source-grp-2,
  .source-grp-3 {
    /* /* box-sizing: border-box; */
    /* display: grid;
      grid-auto-rows: minmax(100px auto);
      grid-auto-columns: minmax(100px auto); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* grid-column-gap:20px; */
  }
  .select-grp--rad {
    width: 90%;
    display: flex;
  
    justify-content: space-between;
    position: absolute;
    top: 5vh;
  
    right: 0;
  }
  .submit {
    color: white;
    border: none;
  }
  /* media query */
  @media (max-width: 1200px) {
    .hero-left {
      width: 34vw;
    }
  }
  
  @media (max-width: 1024px) {
    .parent-heading {
      color: #05616d;
      font-size: 1.4rem;
      /* position: absolute;
              top: 4vh; */
    }
    .hero-left {
      width: 42vw;
    }
  }
  
  @media (max-width: 768px) {
    .parent-heading {
      color: #05616d;
      font-size: 1.4rem;
      position: absolute;
      top: 4vh;
    }
    .hero-left {
      width: 42vw;
    }
    .parent {
      /* height: 60vh; */
      width: 40vw;
    }
  }
  
  /* @media (max-width:568px){
                .hero {
                    display: flex;
                    flex-direction: column;
                  }
                  .parent-container{
                    position: absolute;
                    top:55vh;
                  }
                .parent-heading {
                    color:#05616d;
                      font-size: 1rem;
                      position: relative;
                      top: -5vh;
                    }
                    .hero-left{
                        width:42vw;
                    }
                    .parent {
                      // height: 60vh;
                        width: 95vw;
                       
                      }
                      .hero-left {
                        background-image: url("./step 1.png");
                        background-repeat: no-repeat;
                      
                        background-size: 100% auto;
                        width: 100vw;
                        // height: 100vh; 
                      
    
                      }
                        
                      .dob{
                        width:32vw;
                      }
                      .footer {
                        width: 90vw;
                      
                        display: flex;
                        // flex-direction: column;
                        justify-content: space-between;
                        position: relative;
                        top:10vh;
                      }
                      .footer .footer-sub-grp .footer-update {
                        font-size:0.7rem;
                      }
                      .footer .footer-sub-grp .footer-head {
                        font-size:0.7rem;
                      }
                    } */
  
  @media (max-width: 568px) {
    .parent {
      max-width: 100vw;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
    /* .div1 {}
    .div2 {  }
    .div3 { }
    .div4 {  }
    .div5 {  }
    .div6 { }
    .div7 {  }
    .div8 {  }
    .div9 { grid-area: 6 / 1 / 7 / 4; }
    .div10 { grid-area: 6 / 4 / 7 / 6; }
    .div11 { grid-area: 7 / 1 / 8 / 6; }
    .div12 { grid-area: 8 / 1 / 9 / 6; } */
  
    .fname {
      grid-area: 1 / 1 / 2 / 6;
    }
    .lname {
      grid-area: 2 / 1 / 3 / 6;
    }
    .email {
      grid-area: 3 / 1 / 4 / 6;
    }
  
    .dob-select-grp {
      grid-area: 3 / 1 / 4 / 6;
      display: flex;
      justify-content: space-between;
    }
    .dob {
      width: 23vw;
      max-height:7vh;
    }
    .count {
      grid-area: 4 / 3 / 5 / 4;
    }
    .phone-grp {
      grid-area: 4 / 5 / 5 / 6;
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-gap: 1.1rem;
    }
    .grp {
      grid-area: 5 / 1 / 6 / 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .source-grp {
      display: flex;
  
      justify-content: space-between;
      align-items: center;
    }
    .language {
      grid-area: 5 / 3 / 6 / 6;
    }
  
    .special_remarks {
      grid-area: 5 / 1 / span 1 / span 2;
    }
    .submit {
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      border: none;
      grid-area: 6 / 1 / span 1 / span 2;
    }
    .hero {
      display: flex;
      flex-direction: column;
    }
  
    .parent-container {
      position: absolute;
      top: 55vh;
    }
  
    .parent-heading {
      color: #05616d;
      font-size: 1rem;
      position: relative;
      top: -5vh;
    }
  
    .hero-left {
      background-image: url("./step 1.png");
      background-repeat: no-repeat;
      background-size: 100% auto;
      width: 100vw;
    }
  
    .parent {
      width: 95vw;
    }
  
    .dob {
      width: 32vw;
    }
  
    .footer {
      width: 90vw;
      display: flex;
      justify-content: space-between;
      position: relative;
      top: 10vh;
    }
  
    .footer .footer-sub-grp .footer-update,
    .footer .footer-sub-grp .footer-head {
      font-size: 0.7rem;
    }
  }
  
  .show-error {
    display: block;
    color: red;
  }
  .hide-error {
    display: none;
  }
  
  .cou {
    width: 90%;
    height: 5vh;
  }
  
  /* Registration success card */
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .registration-card {
    width: 35vw;
    height: 39vh;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    border-radius: 25px;
    background-image: linear-gradient(to bottom, #000000, #00069f, #000000);
  }
  
  .card-div-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-number {
    color: white;
    width: 40%;
    text-align: left;
  }
  .card-number p {
    margin: 0;
    font-weight: 100;
    font-size: 0.8rem;
  }
  .card-number h1 {
    margin: 0;
    font-size: 1.2rem;
  }
  .card-logo-container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }
  .card-logo {
    width: 40%;
  }
  
  .card-div-middle {
    margin: 5% auto;
    color: white;
    position: relative;
  }
  
  .card-div-middle .chip {
    position: absolute;
    left: 0;
    width: 12%;
  }
  
  .card-div-middle h3 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 200;
    color: #f4e893;
  }
  
  .card-div-middle button {
    width: 20%;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #e7e7e7;
    border-radius: 2px;
  }
  
  .card-div-middle button:hover {
    color: black;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #e7e7e7;
    transition: 0.5s;
  }
  
  .card-div-bottom {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cardholder-group {
    display: flex;
    width: 70%;
  }
  .cardholder-name {
    text-align: left;
  }
  .cardholder-name p {
    margin: 0;
    font-weight: 100;
    font-size: 0.8rem;
  }
  .cardholder-name h2 {
    margin: 0;
    font-size: 1.2rem;
  }
  .cardholder-img-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 4%;
    width: 16%;
  }
  
  .cardholder-img {
    width: 65%;
  }
  .validity p {
    margin: 0;
    font-weight: 100;
    font-size: 0.8rem;
  }
  